In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
true=pd.read_csv('True.csv')

In [3]:
fake=pd.read_csv('Fake.csv')

In [4]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [7]:
true.shape

(21417, 4)

In [8]:
true.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [9]:
true['label']=1
fake['label']=0

In [10]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
 4   label    21417 non-null  int64
dtypes: int64(1), object(4)
memory usage: 836.7+ KB

In [11]:
news=pd.concat([fake,true])

In [12]:
news.columns

Index(['title', 'text', 'subject', 'date', 'label'], dtype='object')

In [13]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [14]:
news.label.value_counts()

label
0    23481
1    21417
Name: count, dtype: int64

In [15]:
news=news.drop(['title','subject','date'],axis=1)
news=news.sample(frac=1).reset_index(drop=True)

In [16]:
news.head()

                                                text  label
0  BARCELONA/MADRID (Reuters) - Catalonia will mo...      1
1  Protesters gathered Friday in Los Angeles for ...      0
2  DUBLIN (Reuters) - British and European Union ...      1
3  BERLIN (Reuters) - Germany has no evidence tha...      1
4  Enough is enough! German citizens are witnessi...      0

In [17]:
news.shape

(44898, 2)

In [18]:
import re

def wordopt(text):
    text = text.lower()  # convert to lowercase

    # Remove URLs
    text = re.sub(r'https?://\S+|www\.\S+', '', text)

    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Remove digits
    text = re.sub(r'\d+', '', text)

    # Remove newline characters
    text = re.sub(r'\n', ' ', text)

    return text.strip()

In [19]:
news['text']=news['text'].apply(wordopt)

In [20]:
X=news['text']
y=news['label']